<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JabTyper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&family=Raleway:wght@700&family=Wallpoet&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm header">
        <h1>JabTyper <span id="ponto-zero">2.0</span></h1>
      </div>
    </div>
    
    <div class="primeira-parte">
      <div class="nome-jogador">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"> </span>
          <input type="text" class="form-control" id="nomeJogador"placeholder="Nome do Jogador" aria-label="Username"
            aria-describedby="addon-wrapping">
        </div>
      </div>
      <div class="mensagem-dificuldade">
        <button class="botao-principal" id="select-dificult">Selecione uma dificuldade</button>
        <!-- <button class="botao-principal" id="ver-placar">Ver Placar</button> -->
        
      </div>
      <p class="lead" id="lead">
        Selecione a Dificuldade Para Iniciar o Jogo.
      </p>
      <div class="modal-content">
        <div class="dificuldade-container">
          <div class="form-check form-check-inline" id="form-easy">
            <input class="form-check-input" type="radio" name="dificuldade" id="facil" value="1">
            <label class="form-check-label" for="facil">Fácil</label>
          </div>
          <div class="form-check form-check-inline" id="form-medium">
              <input class="form-check-input" type="radio" name="dificuldade" id="medio" value="2">
              <label class="form-check-label" for="medio">Médio</label>
          </div>
          <div class="form-check form-check-inline" id="form-dificult">
              <input class="form-check-input" type="radio" name="dificuldade" id="dificil" value="3">
              <label class="form-check-label" for="dificil">Difícil</label>
          </div>
        </div>
      </div>
      <br>
    </div>
    <main id="principal">
      <div class="conjunto">
        <div class="row" id="linha">
  
          <div class="col-sm palavras">
            <span id="tamanho-frase">0</span><h6> Palavras</h6>
          </div>
          <div class="col-sm tempo">
            <span id="tempo">0</span> <h6> Segundos</h6>
          </div>
  
        </div>
      </div>
  
      <br>
      <div class="barra">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
  
      <br>
      <div class="texto">
        <textarea id="campo-digitacao" cols="70" rows="4" disabled></textarea>
      </div>
      <div class="botao">
        <button type="button" class="btn btn-restart"> </button>
      </div>
  
      <div class="row ">
        <div class="conjunto-2">
          <div class="col-sm caracteres-digitados">
            <h6> <span id="caracteres-digitados">0</span> Caracteres digitados</h6>
  
          </div>
          <div class="col-sm palavras-digitadas">
            <h6> <span id="palavras-digitadas">0</span> Palavras digitadas corretamente</h6>
          </div>
  
        </div>
      </div>
      <br>
      
    </main>
    <div class="placar">
      <h4>Placar</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome do Jogador</th>
            <th scope="col">Pontuação</th>
            <th scope="col">Dificuldade</th>
          </tr>
        </thead>
  
      </table>
    </div>
    



  </div>
  
  <!-- <script src="/js/jquery.js"></script> -->
  <script src="/js/consult.js"></script>
  <script src="/js/main.js"></script>
  
  
  
</body>

</html>